.app-header-container {
    height: 100px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.9);
}

.app-header-sub-container {
    align-items: center;
    border-bottom: 2px solid black;
    justify-content: space-between;
    height: 100px;
}

.nav-content {
    height: 100%;
    align-items: center;
    color: black;
    font-weight: 600;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.9);
}

.nav-content>* {
    padding: 1em 0 1em 2em;
    height: 100px;
    display: flex;
    align-items: center;
}

.nav-content>*:hover {
    text-shadow: -4px -3px 4px rgba(53, 32, 119, 0.37);
    font-size: 20px;
}

.app-header-sub-container>h1 {
    font-size: 25px;
}