* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.sub-container {
    display: flex;
    max-width: 1200px;
    justify-content: center;
}

ul {
    list-style-type: none;
}