* {
    box-sizing: border-box;
}

*:hover {
    transition: 0.3s;
}

body {
    margin: 0 auto;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.sub-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

ul {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    padding: 0;
}

.router-link {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
}

input:focus {
    outline: 1px solid black;
}

input[type=radio] {
    outline: none;
    cursor: pointer;
}

input[type=checkbox]:focus {
    outline: none;
}