    .suess-home-page-container {
        display: block;
        height: 38rem;
        font-family: cursive;
    }
    
    .suess-home-page {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    
    .app-h1 {
        font-size: 40px;
        font-weight: 900;
        color: black;
    }
    
    .apps-nav {
        display: grid;
        grid-template-columns: repeat(4, 340px);
        grid-template-rows: 500px;
        text-align: center;
        margin-top: 25px;
        justify-content: space-around;
        align-items: center;
        color: white;
        font-size: 40px;
    }
    
    .apps-nav>* {
        padding-top: 250px;
        padding-bottom: 250px;
    }