.email-page{
    flex-direction: column;
 

}
button , input , textarea{
    font-family: cursive;
}
textarea:focus{
 outline: none;
}

.mail-horizon-container{
    justify-content: space-between;
}
.email-list-container{
    margin-top: 0;
    width: 100%;
}