.email-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* outline: 10px red solid; */
    padding-left: 0;
}

.email-specific-email {
    height: 3em;
    border-bottom: 1px solid rgb(182, 177, 177);
    border-left: 1px dotted rgb(182, 177, 177);
    border-right: 1px dotted rgb(182, 177, 177);
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.email-specific-email :hover {
    /* box-shadow: inset 8px 80px 33px -49px rgba(35,27,27,0.65); */
    /* background-color: red; */
}

.readAndClose :hover,
.unreadAndClose :hover {
    box-shadow: 0 -30px 32px -35px rgba(35, 27, 27, 0.74) inset;
    border-bottom: 1px solid black;
}

.readAndClose *> :hover {
    box-shadow: none;
    border-bottom: none;
}

.unreadAndClose *> :hover {
    box-shadow: none;
    border-bottom: none;
}

.email-specific-email-top {
    width: 100%;
}

.email-specific-email>* {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

.email-specific-email-top h2 span {
    font-size: 14px;
    color: #96999C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.email-specific-email-top h2 {
    font-size: 21px;
    font-family: 'Merriweather', serif;
    margin-left: 75px;
    color: black
}

.email-specific-email-top h3 {
    color: black
}

.email-specific-email:first-child {
    border-top: 1px solid rgb(182, 177, 177);
}

.email-specific-email:hover {
    cursor: pointer;
    box-shadow: 2px inherit black;
}

.readAndOpen {
    background-color: #F5F7F7;
    min-height: 15em;
    align-items: flex-start;
}

.readAndClose {
    background-color: #F5F7F7;
    height: 50px;
}

.unreadAndOpen {
    background-color: #FFFFFF;
    min-height: 15em;
}

.unreadAndClose {
    background-color: #FFFFFF;
    height: 50px;
}

.email-specific-email-body {
    display: block;
    flex: 1;
    overflow: auto;
    justify-content: space-around;
    padding: 15px;
    color: black;
}

.email-garbage-can {
    width: 60px;
    height: 60px;
    font-size: 2.5em;
    border: none;
    background-color: inherit;
}

.email-garbage-can:hover {
    color: blue;
}

.align-self {
    align-self: center;
}