.keep-header-container {
    height: 50px;
    padding: 1em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.keep-header {
    justify-content: space-between;
    align-items: center;
}

.keep-header h1 {
    font-size: 20px;
}

.pinned-notes {
    display: flex;
    cursor: pointer;
}

.pinned-notes>* {
    padding: 1em;
}