.email-horizontal-container{
    margin: 10px;
    /* background-color: red; */
    width: 100%;

    display: flex;

    /* justify-content: space-between; */
}
.email-horizontal-container:nth-child(2){
width: 80%;
}